*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* New CSS below here 
   New CSS below here 
   New CSS below here 
*/

* {
    border: 1px solid red;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    height: 80px;
}

.logo {
    aspect-ratio: 1;
    height: 100%;
}

.title {

}

.newBook {

}

.display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    height: 400px;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    border-radius: 16px;
    box-shadow: 1px 1px 3px black;
    padding: 1rem;
}

.bookShow {
    display: none;
}