*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* New CSS below here 
   New CSS below here 
   New CSS below here 
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin-bottom: 4rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    height: 80px;
}

.logo {
    aspect-ratio: 1;
    height: 100%;
}

.title {

}

.newBook {

}

.display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    border-radius: 16px;
    box-shadow: 1px 1px 3px black;
    padding: 1rem;
}

.bookShow {
    display: none;
}

button {
    border-radius: 16px;
    padding: 4px 8px 4px 8px;
}

.bookButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.removeBook {
    width: fit-content;
    background-color: #c7e6ff;
}

.readButton {
    width: fit-content;
    background-color: #c7ffc7;
}

.formsection > form {
    display: grid;
    grid-template-columns: repeat(2, minmax(275px, 1fr));
    gap: 1rem;
    padding: 1rem;
    justify-self: center;
}

@media (max-width: 599px) {
        .formsection > form {
        grid-template-columns: 1fr;
    }
}

.formsection > form > div:nth-child(1), .formsection > form > div:nth-child(2)  {
    display: flex;
    flex-direction: column;

}

.formsection > form > div:nth-child(3) {
    grid-column: 1 / -1;
    display: grid;
}

.formsection > form > div:nth-child(3) > button {
    width: clamp(200px, 50%, 400px);
    justify-self: center;
}

input[type="text"], input[type="number"] {
    border-radius: 6px;
    background-color: #dfdfdf;
}

select {
    border-radius: 6px;
    background-color: #dfdfdf;
    height: 100%;
}

option {
    text-align: center;
}



input:invalid, select:invalid {
    border: 1px solid red;
}

input:valid, select:valid {
    border: 1px solid green;
}

input:focus, select:focus {
    border: 1px solid blue;
}

.footer {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  padding-top: 0.5rem;
  height: 3rem;
  border-top: 2px solid rgb(0, 0, 0);
}

.footer a {
  color: black;
}